h1 {
  text-align: center;
  text-decoration: underline dotted rgb(144, 85, 144);
  
}

h2 {
  margin-right: 40%;
  
  text-align: center;
}

li {
  text-align: center;

  margin-right: 40%;
  list-style-position: inside;
}
p{

  text-align: center;
  margin-right: 30%;
}button
{
 background-color: black;
color: white;
transition: color 0.5s, background-color 0.6s;  
border-radius: 15%;
margin-left: 0%;
}
button:hover{
margin-top: 1px;
background-color: rgb(255, 255, 255);
color: rgb(0, 0, 0);

}
input[type="text"]{

  background-color: rgb(0, 0, 0);
  color: aliceblue;
  border-color: rgb(45, 34, 34);
  
}
input{
  margin-left: 20%;
}
select{
  color: #4deeea;
  background-color: black;
 transition:border-radius 0.5s ;
}
select:hover{
  color: #3ab3b1;
  border-radius: 30%;
}
body{
  background-color: rgb(14, 14, 14);
  color: #ffffff;
}
iframe{
  border-radius: 20%;
  border-color: #3ab3b1;
  margin-left: 42%;
margin-top: -12%;
}